body {
    font-family: sans-serif;
}
aside {
    color: rgb(58, 58, 58);
    width: 15%;
    position: absolute;
    right: 3%;
    font-size: 13px;
}
footer {
    bottom: 0;
    color: white;
    background-color: rgb(58, 58, 58);
    position: absolute;
    width: 100%;
    text-align: center;
}
h1 {
    font-weight: 900;
    font-style: italic;
}
.link {
    position: absolute;
    top: 250px;
    left: 350px;
}
