header {
    background-color: rgb(3, 163, 223);
    display: flex;
}
header h3 {
    color: white;
    font-family: Arial;
    font-size: 17px;
    margin-left: 55%;
}
.services, .about {
    font-family: Arial;
    font-size: 18px;
    color: #03a3df;
}
footer {
    background-image: url("footerImage.jpg");
    height: 500px;
}
footer p, footer h3 {
    color: white;
    font-family: Arial;
    font-size: 17px;
}
.instructor {
    background-color: rgb(27, 68, 127);
    margin: 20px 0;
    padding: 20px 10px;
    display: flex;
}
.instructor h2 {
    border-bottom: solid 1px rgb(236, 183, 34);
}
.call-out {
    margin-left: 50px;
    font-family: Arial;
    font-size: 30px;
    color: white;
}
.instructor-name {
    border-bottom: solid 1px rgb(236, 183, 34);
}