body {
    display: flex;
    flex-direction: column;
}
header {
    background-color: rgb(3, 163, 223);
    display: flex;
}
header h3 {
    color: white;
    font-family: Arial;
    font-size: 17px;
    margin-left: 55%;
}
.information {    
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Arial;
    font-size: 18px;
    color: #03a3df;
    border: solid 3px rgb(3, 163, 223);
}
.services, .about {
    border: solid 3px rgb(3, 163, 223);
}
footer {
    background-image: url("footerImage.jpg");
    height: 500px;
}
footer p, footer h3 {
    color: white;
    font-family: Arial;
    font-size: 17px;
}
.instructors {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 50px;
}
.instructor {
    background-color: rgb(27, 68, 127);
    padding: 20px 10px;
    border: 1px solid rgb(236, 183, 34);
}
.instructor h2 {
    border-bottom: solid 1px rgb(236, 183, 34);
    text-align: left;
}
.call-out {
    font-family: Arial;
    font-size: 30px;
    color: white;
}
.instructor-name {
    border-bottom: solid 1px rgb(236, 183, 34);
}