body {
    font-family: sans-serif;
}
aside {
    color: rgb(58, 58, 58);
    width: 12%;
    position: absolute;
    right: 3%;
    font-size: 10px;
}
footer {
    bottom: 0;
    color: white;
    background-color: rgb(58, 58, 58);
    position: absolute;
    width: 100%;
    text-align: center;
}
h1 {
    font-weight: 900;
    font-style: italic;
}