body {
    background-color: silver;
    text-align: center;
    font-family: Garamond;
}
nav {
    width: 10%;
    margin: auto;
    background-color: white;
}
h1 {
    width: 15%;
    margin: 10px auto;
    background-color: green;
}
h2 {
    width: 15%;
    margin: 10px auto;
    background-color: aquamarine;
}
ul {
    list-style-type: none;
}
li {
    width: 25%;
    margin: 5px auto;
    background-color: rgb(197, 179, 88);
}
img {
    border: 1px solid black;
}
p {
    background-color: white;
}
footer p {
    width: 10%;
    margin: auto;
}

